<div class="container-fluid" ng-controller="artsCtrl">

    <p>{{title}}</p>


    <div class="panel panel-default blog" ng-repeat="item in list">
        <div class="panel-heading">
            <a href="{{item.link}}" ng-if="item.link">{{item.title}} <i class="glyphicon glyphicon-link"></i> </a>
            <a href="javascript:;" ng-if="!item.link">{{item.title}}</a>
        </div>

        <div class="panel-body">
            <p>
                创作于：{{item.createTime}}
            </p>
            <a href="{{item.git}}" ng-if="item.git"><span class="iconfont">&#xe69f;</span>Github地址<br></a>

            {{item.desc}}
        </div>
    </div>

</div>