<div class="container-fluid">
    <div class="row">
        <div class="col-md-8" ng-controller="blogListCtrl">

            <pagination page="curPage" max-page="maxPage" on-click="goPage"></pagination>

            <div ng-repeat="item in items">
                <blog-show item="item"></blog-show>
            </div>

            <pagination page="curPage" max-page="maxPage" on-click="goPage"></pagination>

        </div>
        <div class="col-md-4">
            <div class="list-group" ng-controller="userInfoCtrl">
                <a href="javascript:;" class="list-group-item disabled">
                    他说
                </a>
                <a href="javascript:;" ng-repeat="item in ps"
                   class="list-group-item">
                    <span class="badge">{{item.name}}</span>
                    {{item.say}}
                </a>
            </div>
        </div>
    </div>
</div>