<div class="container-fluid">
    <div class="row">
        <div class="col-md-8" ng-controller="blogListCtrl">

            <pagination page="curPage" max-page="maxPage" on-click="goPage"></pagination>

            <div ng-repeat="item in items">
                <blog-show item="item"></blog-show>
            </div>

            <pagination page="curPage" max-page="maxPage" on-click="goPage"></pagination>

        </div>
        <div class="col-md-4">
            <div class="list-group" ng-controller="userInfoCtrl">
                <a href="javascript:;" class="list-group-item disabled">
                    他说
                </a>
                <a href="javascript:;" ng-repeat="item in ps"
                   class="list-group-item">
                    <span class="badge">{{item.name}}</span>
                    {{item.say}}
                </a>
            </div>

            <div class="panel panel-default me-social-site">
                <div class="panel-heading head">
                    <div class="page-header">
                        <h3 class="text-center">I am web developer</h3>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <p class="text-center">你可以在下面的社交网络找到我</p>
                    <span  style="font-size: 20px;">
                        <a href="https://www.zhihu.com/people/he-jie-37-25" class="iconfont link" title="hejieの知乎"  target="_blank">
                            &#xe619;
                        </a>
                        <a href="https://github.com/ajlovechina" class="iconfont link position-relave-top-5" title="hejieのGithub" target="_blank">
                            &#xe69f;
                        </a>
                    </span>
                </div>
                <div class="panel-footer">
                    <p>我是何杰, 很高兴你来到这里。我目前在讯飞做一位饮水机管理员, 写写代码。周末喜欢去
                        爬山
                        <span class="iconfont">&#xe60b;</span>骑车
                        <span class="iconfont">&#xe60a;</span>
                        <br>如果你也是开发者, 欢迎在Github上follow me</p>
                </div>
            </div>
        </div>
    </div>
</div>