<div class="container-fluid" ng-controller="messageController">
    <div class="row">
       <div class="col-md-7">
       </div>
        <div class="col-md-5 background-white">

            <div class="page-header">
                <h3>对hejie说点什么吧~ <small><br>您并不需要登陆</small></h3>
                <button show-pop="#comment-write-panel" width="480" title="写留言"
                        class="btn btn-warning btn-block btn-group-xs">Leave A Message</button>
            </div>

            <comment items="comments"></comment>
        </div>
    </div>
</div>

<div id="comment-write-panel" ng-controller="writeMessageController" style="display:none;">
    <form ng-submit="submit()">
        <div style="padding: 20px">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">昵称：</span>
                <input type="text" class="form-control" ng-model="message.name" required
                       placeholder="昵称" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">昵称：</span>
                 <textarea type="text" class="form-control"
                      placeholder="内容" required
                      aria-describedby="basic-addon2" ng-model="message.content"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">联系：</span>
                 <input type="text" class="form-control"
                      placeholder="可选, 您的联系方式不会被展示出来"
                      aria-describedby="basic-addon3" ng-model="message.contact" />
            </div>
            <div class="text-center" style="margin-top:10px;">
                <button class="btn btn-success btn-group-xs">提交</button>
                <a href="javascript:;" class="btn btn-default btn-group-xs" hide-pop="#comment-write-panel">取消</a>
            </div>
        </div>
    </form>
</div>
