<div class="container-fluid" ng-controller="workCtrl">

    <p>下面是我工作以来参与过的项目。在业余时间, 我还创作了一些其它的小程序，有些可以在线展示，如果您有兴趣可以 <a href="#/arts" style="text-decoration: underline">点击这里</a></p>


    <div class="panel panel-default blog" ng-repeat="item in list">

        <div class="panel-body">
            <p>
                {{item.title}}
            </p>
            <p>时间 : {{item.duration}}</p>
            <span ng-bind-html="item.content"></span>
        </div>

        <div class="panel-footer">
            主要技术:
        <span ng-repeat="topic in item.topics">
            <span class="label label-default">
                {{topic}}
            </span>&nbsp;
        </span>
        </div>
    </div>



</div>


