
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header hejie-top-nav">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
      <a routerLink="blogs" class="navbar-brand" >
        <em class="glyphicon glyphicon-tree-deciduous"></em>
      </a>
      <a routerLink="me" class="navbar-brand visible-xs hide-on-hejie-hide-top-nav-text">关于我</a>
      <a href="javascript:;" routerLink="liuyan" class="navbar-brand visible-xs hide-on-hejie-hide-top-nav-text">留言</a>

    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="blogs">文章</a>
        </li>
        <li>
          <a routerLink="me">关于我</a>
        </li>
        <li>
          <a routerLink="liuyan">消息</a>
        </li>
        <li>
          <a routerLink="arts">作品</a>
        </li>
      </ul>
      <p class="navbar-text  navbar-right" style="color:#ccc;">I am hejie2.0</p>
    </div>
  </div>
</nav>
