<div class="hejie-comments" style="padding: 0 10px 20px;">
    <div class="media comment" ng-repeat="item in items">
        <div class="media-left">
            <a href="javascript:;">
                <img class="media-object img" ng-src="{{item.img|userImg}}" alt="{{item.name}}">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading title">{{item.name}} <small>于 {{item.date|timeago}}--{{item.date|date:"HH:mm"}}</small></h4>
            <span class="content">
                {{item.content}}
                <a href="javascript:;" style="float:right;color:#aaa;" ng-click="reply(item)" class="iconfont" title="回复">&#xe603;</a>
            </span>

            <div class="media" ng-repeat="item2 in item.data">
                <div class="media-left">
                    <a href="javascript:;">
                        <img class="media-object img" ng-src="{{item2.img|userImg}}" alt="{{item2.name}}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading title">{{item2.name}}</h4>
                    <span class="content">
                        {{item2.content}}
                        <a href="javascript:;">回复</a>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>