<ul class="pagination" ng-if="onClick">
    <li ng-click="onClick(1)">
        <a href="javascript:;">
            首页
        </a>
    </li>
    <li ng-click="onClick(page - 1)">
        <a href="javascript:;" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li ng-repeat="n in []|midRange:maxPage:page"
        ng-class="{'active' : n === page}"
        ng-click="onClick(n)"><a href="javascript:;">{{n}}</a></li>
    <li ng-click="onClick(page + 1)">
        <a href="javascript:;" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    <li ng-click="onClick(maxPage)">
        <a href="javascript:;">
            末页
        </a>
    </li>
</ul>
<ul class="pagination" ng-if="getHref">
    <li>
        <a ng-href="{{getHref(1)}}">
            首页
        </a>
    </li>
    <li>
        <a ng-href="{{getHref(page - 1)}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li ng-repeat="n in []|midRange:maxPage:page"
        ng-class="{'active' : n === page}"><a ng-href="{{getHref(n)}}">{{n}}</a></li>
    <li>
        <a ng-href="{{getHref(page + 1)}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    <li>
        <a ng-href="{{getHref(maxPage)}}">
            末页
        </a>
    </li>
</ul>