<div style="max-width:500px;" ng-cloak="">
    <div class="panel panel-default blog" ng-if="!isBegin">
        <div class="panel-heading">
            {{data.cover.title}}
        </div>
        <div class="panel-body min-height-200">
            <div class="list-group" ng-bind-html="data.cover.content">
            </div>
        </div>
        <div class="panel-footer text-center">
            <button class="btn btn-default btn-group btn-group-sm" ng-click="begin()">Go for it!</button>
        </div>
    </div>
    <div class="panel panel-default blog" ng-if="isBegin && !finished">
        <div class="panel-heading">
            {{data.items[index].title}}
            <span style="float:right">{{index + 1}} / {{data.items.length}}</span>
        </div>
        <div class="panel-body min-height-200" ng-if="data.items[index].choices">
            <div class="list-group">
                <a href="javascript:;"  class="list-group-item" ng-repeat="choice in data.items[index].choices" ng-click="selectThisChoice(data.items[index], choice)">
                    <input type="radio" name="question-naire-name-{{index}}">
                    {{choice}}
                </a>
            </div>
        </div>
        <div class="panel-body min-height-200" ng-if="data.items[index].ask">
            <div class="list-group">
                <input class="input-group" ng-model="data.items[index].askInfo" />
            </div>
            <button class="btn btn-default btn-group-sm" ng-click="next()">确定</button>
        </div>
        <!--<div class="panel-footer">
        </div>-->
    </div>
    <div class="panel panel-default blog" ng-if="finished">
        <div class="panel-heading">
            谢谢您的参与
        </div>
        <div class="panel-body min-height-200">
            <div class="list-group">
                <p class="text-center">
                    您已经完成了{{data.items.length}}道问题, 谢谢参与, 祝您生活愉快!
                </p>
            </div>
        </div>
        <!--<div class="panel-footer">
        </div>-->
    </div>
</div>