@font-face {
  font-family: 'iconfont';
  /* project id 273500 */
  src: url('//at.alicdn.com/t/font_p5k4v4zj2tny7gb9.eot');
  src: url('//at.alicdn.com/t/font_p5k4v4zj2tny7gb9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_p5k4v4zj2tny7gb9.woff') format('woff'), url('//at.alicdn.com/t/font_p5k4v4zj2tny7gb9.ttf') format('truetype'), url('//at.alicdn.com/t/font_p5k4v4zj2tny7gb9.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont";
}
body {
  padding-top: 70px;
  background-color: #eee;
}
.background-white {
  background-color: white;
}
.min-height-200 {
  min-height: 200px;
}
.min-height-300 {
  min-height: 300px;
}
.min-height-400 {
  min-height: 400px;
}
.min-height-500 {
  min-height: 500px;
}
.ajax-waiting-modal {
  display: none;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff url('../imgs/waiting.gif') 50% 50% no-repeat;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
.max-width-40 {
  max-width: 40px;
}
.max-width-50 {
  max-width: 50px;
}
.max-width-60 {
  max-width: 60px;
}
.max-width-80 {
  max-width: 80px;
}
.max-width-100 {
  max-width: 100px;
}
.max-width-200 {
  max-width: 200px;
}
.max-width-300 {
  max-width: 300px;
}
.max-width-400 {
  max-width: 400px;
}
.max-width-500 {
  max-width: 500px;
}
.position-relave-top-1 {
  position: relative;
  top: -1px;
}
.position-relave-top-2 {
  position: relative;
  top: -2px;
}
.position-relave-top-3 {
  position: relative;
  top: -3px;
}
.position-relave-top-4 {
  position: relative;
  top: -4px;
}
.position-relave-top-5 {
  position: relative;
  top: -5px;
}
.position-relave-top-6 {
  position: relative;
  top: -6px;
}
.position-relave-top-7 {
  position: relative;
  top: -7px;
}
.position-relave-top-8 {
  position: relative;
  top: -8px;
}
.position-relave-top-9 {
  position: relative;
  top: -9px;
}
.position-relave-top-10 {
  position: relative;
  top: -10px;
}
/*-------------------------------------------------------------------------------------------------------------*/
.blog img {
  max-width: 100%;
}
.active {
  color: mediumpurple!important;
  font-weight: bold;
  text-shadow: orange 0 0 10px;
}
.hejie-comments .img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.hejie-comments .title {
  font-size: 12px;
  font-weight: bold;
}
.hejie-comments .content {
  font-size: 12px;
  color: #444;
}
.hejie-comments .title,
.hejie-comments .content {
  margin: 0;
  line-height: 20px;
}
.hejie-comments .comment {
  border-bottom: 1px dashed #ccc;
}
.me-social-site .link {
  font-size: 40px;
  margin: 0 5px;
  text-decoration: none;
  color: #666;
}
.me-social-site .head {
  background-image: url(http://nigeerhuo-public.oss-cn-shanghai.aliyuncs.com/images/web/pic/me.jpg?x-oss-process=image/resize,m_lfit,w_500,limit_1/auto-orient,0/quality,q_90);
  color: white;
  background-position: 0 -32px;
  background-size: 400px;
}
.me-social-site h3 {
  font-weight: bold;
  text-shadow: white 0 0 15px;
  font-size: 30px;
}
.hejie-arrow {
  position: absolute;
  bottom: -25px;
  top: auto!important;
  height: 25px;
  line-height: 25px;
  z-index: 9;
  cursor: pointer;
}
.hejie-arrow.slick-disabled {
  color: #ccc;
}
.hejie-arrow.hejie-prev {
  left: 0;
}
.hejie-arrow.hejie-next {
  left: 20px;
}
.slick-slide .panel-body img {
  display: inline-block;
}
.hejie-hide-top-nav-text .hide-on-hejie-hide-top-nav-text {
  display: none!important;
}
