@base: #333;

.blog{
  img {
    max-width:100%;
  }
}

.hejie-comments{
  .img{
    width:40px;
    height:40px;
    overflow: hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
  }
  .title{
    font-size:12px;font-weight: bold;
  }
  .content{
    font-size: 12px;
    color:#444;
  }
  .title,.content{
    margin:0;
    line-height: 20px;
  }
  .comment{
    border-bottom: 1px dashed #ccc;
  }
}