@font-face {
  font-family: 'iconfont';  /* project id 273500 */
  src: url('//at.alicdn.com/t/font_p5k4v4zj2tny7gb9.eot');
  src: url('//at.alicdn.com/t/font_p5k4v4zj2tny7gb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_p5k4v4zj2tny7gb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_p5k4v4zj2tny7gb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_p5k4v4zj2tny7gb9.svg#iconfont') format('svg');
}
.iconfont{
  font-family: "iconfont";
}
body{
  padding-top: 70px;
  background-color: #eee;
}

.background-white{
  background-color: white;
}

.min-height-200{
  min-height:200px;
}
.min-height-300{
  min-height:300px;
}
.min-height-400{
  min-height:400px;
}
.min-height-500{
  min-height:500px;
}

.ajax-waiting-modal {
  display:    none;
  position:   fixed;
  z-index: 1100;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgb( 255, 255, 255)   url('../imgs/waiting.gif')      50% 50%      no-repeat;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

.max-width-40{max-width: 40px;}
.max-width-50{max-width: 50px;}
.max-width-60{max-width: 60px;}
.max-width-80{max-width: 80px;}
.max-width-100{max-width: 100px;}
.max-width-200{max-width: 200px;}
.max-width-300{max-width: 300px;}
.max-width-400{max-width: 400px;}
.max-width-500{max-width: 500px;}

.position-relave-top(10);

.position-relave-top(@n, @i: 1) when (@i =< @n) {
  .position-relave-top-@{i} {
    position:relative;
    top:-1px * @i;
  }
  .position-relave-top(@n, (@i + 1));
}
/*-------------------------------------------------------------------------------------------------------------*/


@base: #333;

.blog{
  img {
    max-width:100%;
  }
}

.active {
  color:mediumpurple!important;
  font-weight:bold;
  text-shadow: orange 0 0 10px;
}
.hejie-comments{
  .img{
    width:40px;
    height:40px;
    overflow: hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
  }
  .title{
    font-size:12px;font-weight: bold;
  }
  .content{
    font-size: 12px;
    color:#444;
  }
  .title,.content{
    margin:0;
    line-height: 20px;
  }
  .comment{
    border-bottom: 1px dashed #ccc;
  }
}

.me-social-site{
  .link{
    font-size:40px;
    margin:0 5px;
    text-decoration: none;
    color:#666;
  }
  .head{
    background-image: url(../imgs/me/me.jpg);
    color: white;
    background-position: 0 -32px;
    background-size: 400px;
  }
  h3 {
    font-weight:bold;
    text-shadow: white 0 0 15px;
    font-size:30px;
  }
}