body{
    padding-top: 70px;
}

.background-white{
    background-color: white;
}

.min-height-200{
    min-height:200px;
}
.min-height-300{
    min-height:300px;
}
.min-height-400{
    min-height:400px;
}
.min-height-500{
    min-height:500px;
}

.ajax-waiting-modal {
    display:    none;
    position:   fixed;
    z-index: 1100;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgb( 255, 255, 255)   url('../imgs/waiting.gif')      50% 50%      no-repeat;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}