<div class="panel panel-default blog">
  <div class="panel-heading" *ngIf="titleLink">
    <a href="javascript:;" ui-sref="blog({fileName : item.content})">{{item.title}}</a>
  </div>
  <div class="panel-heading" *ngIf="!titleLink">
    {{item.title}}
  </div>

  <div class="panel-body min-height-500">
    <p>
      发表与：{{item.createTime|timeago}} -- {{item.createTime|date:"HH:mm"}}
      | <span weather="item.weather"></span>
    </p>
    <div class="blog-content-area" *ngIf="item.url" [innerHTML]="item.htmlData"></div>
    <div class="blog-content-area" ng-include="item.content|blogContent2Url" *ngIf="!item.url"></div>
  </div>
  <div class="panel-footer">
        <span *ngFor="let topic of item.topics">
            <span class=" label label-default">
                {{topic}}
            </span>&nbsp;
        </span>
  </div>
</div>
